@using Blazorise.Components
@using Necnat.Abp.NnLibCommon.Domains
@using Necnat.Abp.NnLibCommon.Localization
@using Volo.Abp.Identity
@inherits SelectCmptBase<IDistributedServiceDtoAppService, DistributedServiceDto, Guid, DistributedServiceResultRequestDto>

@if (_isLoading)
{
    <div class="animated-background loading-input-height"></div>
}
else
{
    <SelectList TItem="DistributedServiceDto"
                TValue="Guid"
                Data="@Data"
                TextField="@((item) => item.ApplicationName)"
                ValueField="@((item) => item.Id)"
                SelectedValue="@_internalSelectedValue"
                SelectedValueChanged="@OnSelectedValueChangedAsync"
                DefaultItemText="@L["Select..."]"
                DefaultItemValue="default(Guid)" />
}

@namespace Necnat.Abp.NnLibCommon.Blazor.Components.NnIdentity
@code {

    [Parameter]
    public string? TagContains { get; set; }

    public DistributedServiceSelectList()
    {
        LocalizationResource = typeof(NnLibCommonResource);
    }

    protected override async Task OnInitializedAsync()
    {
        if (Data == null)
            Data = (await AppService.GetListAsync(new DistributedServiceResultRequestDto
                {
                    TagContains = TagContains,
                    IsPaged = false
                })).Items.ToList();

        if (IsAutoSelectFirst && Data != null && Data.Count > 0)
            await OnSelectedValueChangedAsync(Data.First().Id);

        _isLoading = false;
    }
}