@using Blazorise.Components
@using Necnat.Abp.NnLibCommon.Domains.NnIdentity
@using Necnat.Abp.NnLibCommon.Localization
@using Volo.Abp.Identity
@inherits SelectCmptBase<INnIdentityRoleAppService, IdentityRoleDto, Guid, NnIdentityRoleResultRequestDto>

@if (_isLoading)
{
    <div class="animated-background loading-input-height"></div>
}
else
{
    <SelectList TItem="IdentityRoleDto"
                TValue="Guid"
                Data="@Data"
                TextField="@((item) => item.Name)"
                ValueField="@((item) => item.Id)"
                SelectedValue="@_internalSelectedValue"
                SelectedValueChanged="@OnSelectedValueChangedAsync"
                DefaultItemText="@L["Select..."]"
                DefaultItemValue="default(Guid)" />
}

@namespace Necnat.Abp.NnLibCommon.Blazor.Components.NnIdentity
@code {

    public RoleSelectList()
    {
        LocalizationResource = typeof(NnLibCommonResource);
    }

}