@using Blazorise.Components
@using Necnat.Abp.NnLibCommon.Domains.NnIdentity
@using Necnat.Abp.NnLibCommon.Localization
@using Volo.Abp.Identity
@inherits AutocompleteCmptBase<INnIdentityRoleAppService, IdentityRoleDto, Guid, NnIdentityRoleResultRequestDto>

@if (IsLoading)
{
    <div class="animated-background loading-input-height"></div>
}
else
{
    <Autocomplete TItem="IdentityRoleDto"
                  TValue="IdentityRoleDto"
                  Data="@_readData"
                  ReadData="@OnHandleReadData"
                  TextField="@((item) => item.Name)"
                  ValueField="@((item) => item)"
                  SelectedValue="@SelectedValue"
                  SelectedValueChanged="@SelectedValueChanged"
                  Placeholder="@string.Format(L["Enter at least {0} character(s) to start the search..."], SearchValueMinLength)"
                  Disabled="@Disabled"
                  Validator="Validator!"
                  Filter="AutocompleteFilter.Contains">
        <NotFoundContent>@string.Format(L["Sorry... {0} was not found!"], context)</NotFoundContent>
    </Autocomplete>
}

@namespace Necnat.Abp.NnLibCommon.Blazor.Components.NnIdentity
@code {

    public RoleAutocomplete()
    {
        LocalizationResource = typeof(NnLibCommonResource);
    }

}