@using Blazorise.Components
@using Necnat.Abp.NnLibCommon.Domains.NnIdentity
@using Necnat.Abp.NnLibCommon.Localization
@using Volo.Abp.BlazoriseUI.Components
@using Volo.Abp.Identity
@inherits ObservableAutocompleteCmptBase<INnIdentityUserAppService, NnIdentityUserDto, Guid, NnIdentityUserResultRequestDto>

<Fields>
    <Field ColumnSize="ColumnSize.Is10">
        <Autocomplete @ref="_autocomplete" TItem="NnIdentityUserDto"
                      TValue="NnIdentityUserDto"
                      Data="@Data"
                      ReadData="@OnHandleReadDataAsync"
                      TextField="@((item) => $"[{item.UserName}] {item.Name}")"
                      ValueField="@((item) => item)"
                      @bind-SelectedValue="@_internalSelectedValue"
                      Placeholder="@(string.Format(L["Enter at least {0} character(s) to start the search..."], SearchValueMinLength))"
                      Disabled="@Disabled"
                      Filter="AutocompleteFilter.Contains">
            <NotFoundContent>@string.Format(L["Sorry... {0} was not found!"], context)</NotFoundContent>
        </Autocomplete>
    </Field>
    <Field ColumnSize="ColumnSize.Is2">
        <Button Class="w-100" Color="Color.Primary" Clicked="AddAsync" Disabled="@(_internalSelectedValue == null)"><i class="fas fa-plus"></i></Button>
    </Field>
</Fields>

<DataGrid TItem="NnIdentityUserDto"
          Data="SelectedEntityDtoList"
          ShowPager="true"
          PageSize="PageSize">
    <DataGridColumns>
        <DataGridEntityActionsColumn TItem="NnIdentityUserDto">
            <DisplayTemplate>
                <EntityActions TItem="NnIdentityUserDto">
                    <EntityAction TItem="NnIdentityUserDto"
                                  Text="@L["Delete"]"
                                  Clicked="async () => await RemoveAsync(context)" />
                </EntityActions>
            </DisplayTemplate>
        </DataGridEntityActionsColumn>
        <DataGridColumn TItem="NnIdentityUserDto"
                        Field="@nameof(NnIdentityUserDto.UserName)"
                        Caption="@L[NndentityUserConsts.UserNameDisplay]"></DataGridColumn>
        <DataGridColumn TItem="NnIdentityUserDto"
                        Field="@nameof(NnIdentityUserDto.Name)"
                        Caption="@L[NndentityUserConsts.NameDisplay]"></DataGridColumn>
    </DataGridColumns>
</DataGrid>

@namespace Necnat.Abp.NnLibCommon.Blazor.Components.NnIdentity
@code {

    public UserObservableAutocomplete()
    {
        LocalizationResource = typeof(NnLibCommonResource);
    }

    public override NnIdentityUserResultRequestDto GetSearchInput(string searchValue)
    {
        return new NnIdentityUserResultRequestDto { MaxResultCount = 5, NameOrUserNameContains = searchValue };
    }

}